.main-wrapper{
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.progress-wrapper{
  width: 100%;
  height: 20px;
  background-color: #ebebeb;
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.progress-wrapper .progress-bar{
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: right;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
  width: 50%;
  overflow: hidden;
  transition: width 250ms ease-in-out;
}
.progress-text{
  padding-right: 8px;
  color: #696969;
  text-shadow: 0 0 rgba(0,0,0,0.2);
}
.progress-wrapper.theme-green .progress-bar{
  background-color: #a2d859;
  box-shadow: 0 0 1px 1px #b0cb8d;
}
.progress-wrapper.theme-red .progress-bar{
  background-color: #ff9284;
  box-shadow: 0 0 1px 1px #a7514c;
}
.progress-wrapper.theme-blue .progress-bar{
  background-color: #7cc4f4;
  box-shadow: 0 0 1px 1px #538eb6;
}
.progress-wrapper.theme-yellow .progress-bar{
  background-color: #ffce5d;
  box-shadow: 0 0 1px 1px #c59b3f;
}